/*O elemento abaixo indica que estou atribuindo essas funcionalidades a todos os elementos da página */
* {
    box-sizing: border-box;
  }
body{
    margin:0;
    padding: 0;
    height: 100vh;
    background-color: #ececec;
    
}

.div_inicial_cor_preto{
    width: 100%;
    background-color: #292929;
    padding: 15px;
   
}

@media only screen and (max-width: 600px) {
    .ul_navbar{
        display: none;
    }
}
.div_imagem_fundo{
    width: 100%;
    height: 75vh;
    margin-top: 20px;
    border:1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div_imagem_fundo_img{
    width: 100%;
    height: 75vh;
    
}
.strong_pag_inicial{
    color:#005A8D;
}
.ul_navbar{
    list-style-type: none; /* deixando a lista sem aqueles simbolos */
    width: 95%;
    height: 60px;
    margin-left: 2%;
    border:2px solid #307030;
    border-radius: 15px;
    
}
.li_navbar{
    float: right;
    margin:15px
}
.li_a_navbar{
    color:red;
    text-decoration: none; 
}
